* {
  margin: 0;
  font-family: "Roboto Mono", 'Times New Roman', Times, serif !important;
  color: white !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body{
  background-image: url("CodingGif.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

/* code {
  font-family: "Roboto Mono", monospace;


 
} */
